%h1
  = @object.first_name
  = @object.surname
%ul{:id => "node_menu"}
  %li
    = link_to '<b>people</b>finder', people_path
  %li
    = link_to 'edit', edit_person_path(@object)
  %li
    = link_to 'delete', @object, :confirm => 'Are you sure?', :method => :delete

%table{:cellpadding => "0", :cellspacing => "0", :border => "0", :id => "node_info", :width => "100%"}
  %tr
    %th{:width => "95px"}
      Profile Picture
    %th{:colspan => "2"}
      Detailed Information
    %th{:width => "400px"}
      Notes
    %th{:width => "*"}
      Related Images
  %tr
    %td{:class => "node_info_value", :rowspan => "3"}
      PICTURE HERE
    %td{:class => "node_info_label", :width => "100px"}
      Full Name
    %td{:class => "node_info_value", :width => "200px"}
      = @object.title
      = @object.first_name
      = @object.surname
    %td{:class => "node_info_value", :rowspan => "3"}
      = @object.notes
    %td{:class => "node_info_value", :rowspan => "3"}
      IMAGE GALLERY HERE
  %tr
    %td{:class => "node_info_label"}
      Sex
    %td{:class => "node_info_value"}
      = @object.sex
  %tr
    %td{:class => "node_info_label"}
      Date of Birth
    %td{:class => "node_info_value"}
      = @object.date_of_birth

%table{:cellpadding => "0", :cellspacing => "0", :border => "0", :width => "100%"}
  %tr
    %td{:style => "vertical-align: top;", :width => "20%"}
      %h2
        People

      = render( :partial => "shared/filtered_target", :object => @object, :locals => {:level_1_rel => "person_to_person", :level_2_rel => "person_to_person", :level_3_rel => "person_to_person", :origin => @object})

      %td{:style => "vertical-align: top; border-left: solid 1px #999999;", :width => "20%"}

        %h2
          Organisations

        = render( :partial => "shared/filtered_target", :object => @object, :locals => {:level_1_rel => "person_to_org", :level_2_rel => "person_to_org", :level_3_rel => "person_to_org", :origin => @object})

      %td{:style => "vertical-align: top; border-left: solid 1px #999999;", :width => "20%"}

        %h2
          Events

        = render( :partial => "shared/filtered_target", :object => @object, :locals => {:level_1_rel => "person_to_event", :level_2_rel => "nil", :level_3_rel => "nil", :origin => @object})

      %td{:style => "vertical-align: top; border-left: solid 1px #999999;", :width => "20%"}

        %h2
          Locations

        = render( :partial => "shared/filtered_target", :object => @object, :locals => {:level_1_rel => "loc_to_person", :level_2_rel => "nil", :level_3_rel => "nil", :origin => @object})

      %td{:style => "vertical-align: top; border-left: solid 1px #999999;", :width => "20%"}

        %h2
          References

        = render( :partial => "shared/filtered_target", :object => @object, :locals => {:level_1_rel => "person_to_ref", :level_2_rel => "nil", :level_3_rel => "nil", :origin => @object})


  = render( :partial => "shared/all_nodes", :object => @object )
