- Neo4j::Transaction.run do

  %h1
    = @person.first_name
    = @person.surname
  %ul{:id => "node_menu"}
    %li
      = link_to '<b>people</b>finder', people_path
    %li
      = link_to 'edit', edit_person_path(@person)
    %li
      = link_to 'delete', @person, :confirm => 'Are you sure?', :method => :delete

  %table{:cellpadding => "0", :cellspacing => "0", :border => "0", :id => "node_info", :width => "100%"}
    %tr
      %th{:width => "95px"}
        Profile Picture
      %th{:colspan => "2"}
        Detailed Information
      %th{:width => "400px"}
        Notes
      %th{:width => "*"}
        Related Images
    %tr
      %td{:class => "node_info_value", :rowspan => "3"}
        PICTURE HERE
      %td{:class => "node_info_label", :width => "100px"}
        Full Name
      %td{:class => "node_info_value", :width => "200px"}
        = @person.title
        = @person.first_name
        = @person.surname
      %td{:class => "node_info_value", :rowspan => "3"}
        = @person.notes
      %td{:class => "node_info_value", :rowspan => "3"}
        IMAGE GALLERY HERE
    %tr
      %td{:class => "node_info_label"}
        Sex
      %td{:class => "node_info_value"}
        = @person.sex
    %tr
      %td{:class => "node_info_label"}
        Date of Birth
      %td{:class => "node_info_value"}
        = @person.date_of_birth

  - @origin = @person

  %table{:cellpadding => "0", :cellspacing => "0", :border => "0", :width => "100%"}
    %tr
      %td{:style => "vertical-align: top;"}
        %h2
          All Linkages

        - @id_stack = Array.new
        - @id_stack.push(@origin.neo_node_id)
        = render( :partial => "shared/target", :object => @person, :locals => {:id_stack => @id_stack})

      %td{:style => "vertical-align: top; border-left: solid 1px #999999;"}

        %h2
          Family Relationships

        - @id2_stack = Array.new
        - @id2_stack.push(@origin.neo_node_id)
        = render( :partial => "shared/filtered_target", :object => @origin, :locals => {:level_1_rel => "family_of", :level_2_rel => "family_of", :level_3_rel => "family_of", :id_stack => @id2_stack})

        %h2
          Working Relationships

        - @id3_stack = Array.new
        - @id3_stack.push(@origin.neo_node_id)
        = render( :partial => "shared/filtered_target", :object => @origin, :locals => {:level_1_rel => "working_rel_to", :level_2_rel => "working_rel_to", :level_3_rel => "working_rel_to", :id_stack => @id3_stack})

        %h2
          Personal Relationships

        - @id3_stack = Array.new
        - @id3_stack.push(@origin.neo_node_id)
        = render( :partial => "shared/filtered_target", :object => @origin, :locals => {:level_1_rel => "personal_rel_to", :level_2_rel => "personal_rel_to", :level_3_rel => "personal_rel_to", :id_stack => @id3_stack})

        %h2
          Related Organisations

        - @id3_stack = Array.new
        - @id3_stack.push(@origin.neo_node_id)
        = render( :partial => "shared/filtered_target", :object => @origin, :locals => {:level_1_rel => "org_rel_with", :level_2_rel => "org_rel_with", :level_3_rel => "org_rel_with", :id_stack => @id3_stack})


  = render( :partial => "shared/all_nodes", :object => @origin )
