%h1
  %img{:src=>@current_node_icon, :alt=>"Person icon", :width=>"56",:height=>"46"}
  = get_display_name(@object)
  = link_to image_tag("/images/icons/delete_S_f2.png",:width=>"46",:height=>"41",:alt=>"Delete this record",:class=>"action_btn"), @object, :confirm => 'Are you sure?', :method => :delete
  = link_to image_tag("/images/icons/edit_S_f2.png",:width=>"46",:height=>"41",:alt=>"Edit this record",:class=>"action_btn"), edit_organisation_path(@object)
%div{:class => "node_data"}
  %label{:class => "node_data_label"}
    Name
  = @object.name
%div{:class => "node_data"}
  %label{:class => "node_data_label"}
    Sector:
  = @object.sector
%div{:class => "node_data"}
  %label{:class => "node_data_label"}
    Industry:
  = @object.industry
%div{:class => "node_data"}
  %label{:class => "node_data_label"}
    Related Images
  IMAGE GALLERY HERE
%div{:class => "node_data"}
  %label{:class => "node_data_label"}
    Notes
  = @object.notes
  &nbsp;
