<% Neo4j::Transaction.run do %>
<h1><%= @organisation.name %></h1>
<ul id="node_menu">
  <li><%= link_to '<b>organisation</b>finder', organisations_path %></li>
  <li><%= link_to 'edit', edit_organisation_path(@organisation) %></li>
  <li><%= link_to 'delete', @organisation, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>
<table cellpadding="0" cellspacing="0" border="0" id="node_info" width="100%">
  <tr>
    <th width="95px">Logo</th>
    <th colspan="2">Detailed Information</th>
    <th width="400px">Notes</th>
    <th width="*">Related Images</th>
  </tr>
  <tr>
    <td class="node_info_value" rowspan="3">PICTURE HERE</td>
    <td class="node_info_label" width="100px">Full Name</td>
    <td class="node_info_value" width="200px"><%= @organisation.name %></td>
    <td class="node_info_value" rowspan="3"><%= @organisation.notes %></td>
    <td class="node_info_value" rowspan="3">IMAGE GALLERY HERE</td>
  </tr>
  <tr>
    <td class="node_info_label">Sector</td>
    <td class="node_info_value"><%= @organisation.sector %></td>
  </tr>
  <tr>
    <td class="node_info_label">Industry</td>
    <td class="node_info_value"><%= @organisation.industry %></td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td style="vertical-align: top; " width="20%">
      <h2>All Linkages</h2>
			<% @origin = @organisation %>
			<% @id_stack = Array.new 
				 @id_stack.push(@origin.neo_node_id)	%>
			<%= render( :partial => "shared/target", 
									:object => @origin, 
									:locals => {:id_stack => @id_stack}) %>
    </td>
    <td style="vertical-align: top; border-left: solid 1px #999999; " width="20%">
      <h2>Related People</h2>
			<% @id2_stack = Array.new 
				 @id2_stack.push(@origin.neo_node_id)	%>
			<%= render( :partial => "shared/filtered_target", 
									:object => @origin, 
									:locals => {:level_1_rel => "org_rel_with",
															:level_2_rel => "",
															:level_3_rel => "",
															:id_stack => @id2_stack}) %>
    </td>
    <td style="vertical-align: top; border-left: solid 1px #999999;" width="20%">
      <h2>Partners</h2>
			<% @id3_stack = Array.new 
				 @id3_stack.push(@origin.neo_node_id)	%>
			<%= render( :partial => "shared/filtered_target", 
									:object => @origin, 
									:locals => {:level_1_rel => "partner_of",  
															:level_2_rel => "partner_of",
															:level_3_rel => "partner_of",
															:id_stack => @id3_stack}) %>
    </td>
    <td style="vertical-align: top; border-left: solid 1px #999999; " width="20%">
      <h2>Competitive Relationships</h2>
			<% @id3_stack = Array.new 
				 @id3_stack.push(@origin.neo_node_id)	%>
			<%= render( :partial => "shared/filtered_target", 
									:object => @origin, 
									:locals => {:level_1_rel => "competes_with",  
															:level_2_rel => "competes_with",
															:level_3_rel => "competes_with",
															:id_stack => @id3_stack}) %>
    </td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td style="vertical-align: top; border-top: solid 1px #999999; " width="33%">
      <h2>People</h2>
      <% @people.each do |person| %>
        <p>
          <%= link_to person.first_name + " " + person.surname, :action => "show", :controller => "people", :id => person %> | 
          <%= link_to 'Link to Organisation', {:action => "show", :id => @organisation, :target_id => person, :link_type => "org_rel"} %>
        </p>
      <% end %>
    </td>
    <td style="vertical-align: top;  border-left: solid 1px #999999;  border-top: solid 1px #999999; " width="33%">
      <h2>Organisations</h2>
      <% @organisations.each do |organisation| %>
        <% if (organisation.neo_node_id != @organisation.neo_node_id) then %>
          <p>
            <%= link_to organisation.name, :action => "show", :id => organisation %> | 
            <%= link_to 'Link as Partner', {:action => "show", :id => @organisation, :target_id => organisation, :link_type => "partner"} %> |
            <%= link_to 'Link as Competitor', {:action => "show", :id => @organisation, :target_id => organisation, :link_type => "competitor"} %> |
          </p>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>