%h1
  Node Finder
%p
  This panel allows you to search for nodes in the underlying database and link to them from this node.
%div{:class => "all_nodes_list"}
  %h2
    people
    %span{:class => "new_node_link"}
      = link_to '[+]', new_person_path, :title => "Add a New Person"
  - @people.each do |person|
    - if (person.neo_node_id != object.neo_node_id) then
      %div{:class => cycle('list_odd', 'list_even'), :id => person.neo_node_id}
        = render( :partial => "shared/relationship_form", :object => object, :locals => {:link_category_table => get_type_list(object.class.to_s.downcase, "person"), :target => person, :origin_type => object.class.to_s.downcase, :target_type => "person"})

%div{:class => "all_nodes_list"}
  %h2
    organisations
    %span{:class => "new_node_link"}
      = link_to '[+]', new_organisation_path, :title => "Add a New Organisation"
  - @organisations.each do |organisation|
    - if (organisation.neo_node_id != object.neo_node_id) then
      %div{:class => cycle('list_odd', 'list_even'), :id => organisation.neo_node_id}
        = render( :partial => "shared/relationship_form", :object => object, :locals => {:link_category_table => get_type_list(object.class.to_s.downcase, "organisation"), :target => organisation, :origin_type => object.class.to_s.downcase, :target_type => "organisation"})

%div{:class => "all_nodes_list"}
  %h2
    locations
    %span{:class => "new_node_link"}
      = link_to '[+]', new_location_path, :title => "Add a New Location"
  - @locations.each do |location|
    - if (location.neo_node_id != object.neo_node_id) then
      %div{:class => cycle('list_odd', 'list_even'), :id => location.neo_node_id}
        = render( :partial => "shared/relationship_form", :object => object, :locals => {:link_category_table => get_type_list(object.class.to_s.downcase, "location"), :target => location, :origin_type => object.class.to_s.downcase, :target_type => "location"})
%div{:class => "all_nodes_list"}
  %h2
    events
    %span{:class => "new_node_link"}
      = link_to '[+]', new_event_path, :title => "Add a New Event"
  - @events.each do |event|
    - if (event.neo_node_id != object.neo_node_id) then
      %div{:class => cycle('list_odd', 'list_even'), :id => event.neo_node_id}
        = render( :partial => "shared/relationship_form", :object => object, :locals => {:link_category_table => get_type_list(object.class.to_s.downcase, "event"), :target => event, :origin_type => object.class.to_s.downcase, :target_type => "event"})

%div{:class => "all_nodes_list"}
  %h2
    references
    %span{:class => "new_node_link"}
      = link_to '[+]', new_reference_path, :title => "Add a New Reference"
  - @references.each do |reference|
    - if (reference.neo_node_id != object.neo_node_id) then
      %div{:class => cycle('list_odd', 'list_even'), :id => reference.neo_node_id}
        = render( :partial => "shared/relationship_form", :object => object, :locals => {:link_category_table => get_type_list(object.class.to_s.downcase, "reference"), :target => reference, :origin_type => object.class.to_s.downcase, :target_type => "reference"})
