%h1
  %img{:src=>@current_node_icon, :alt=>"Person icon", :width=>"56",:height=>"46"}
  = get_display_name(@object)
  = link_to image_tag("/images/icons/delete_S_f2.png",:width=>"46",:height=>"41",:alt=>"Delete this record",:class=>"action_btn"), @object, :confirm => 'Are you sure?', :method => :delete
  = link_to image_tag("/images/icons/edit_S_f2.png",:width=>"46",:height=>"41",:alt=>"Edit this record",:class=>"action_btn"), edit_reference_path(@object)
%div{:class => "node_data"}
  %label{:class => "node_data_label"}
    Value
  = @object.ref_value
  %span{:style=>"display:inline;font-size:12px"}
    = "("+@object.reference_type+")"
%div{:class => "node_data"}
  %label{:class => "node_data_label"}
    Notes
  = @object.notes
  &nbsp;