:javascript
  $(document).ready(function() {
  	Nifty('div#form_wrapper','medium');
  	Nifty('div.form_explanation','medium');
  	Nifty('div.form_group','medium');
  });
%div{:id=>"form_wrapper"}
  - form_for(@object) do |f|
    %div{:class=>"form_explanation"}
      %img{:src=>"/images/icons/info.png",:alt=>"Info icon",:class=>"notice_icon",:height=>"42",:width=>"43"}
      = @form_explanation
    %div{:class=>"clear_all"}
    %div{:class=>"form_group"}
      %p
        = f.label :reference_type
        = f.select :reference_type, Reference::REFERENCE_TYPES, :prompt => "Select a reference type"
      %p
        = f.label :ref_value
        = f.text_field :ref_value
    %div{:class=>"clear_all"}
    %div{:class=>"form_group"}
      = f.label :notes
      = f.text_area :notes, :size => "65x10"
    %div{:id=>"form_submit"}
      = f.submit @form_operation
