:javascript
  $(document).ready(function() {
  	Nifty('div#form_wrapper','medium');
  	Nifty('div.form_explanation','medium');
  	Nifty('div.form_group','medium');
  });
%h1
  %img{:src=>@current_node_icon, :alt=>"Reference icon", :width=>"56",:height=>"46"}
  <b>reference</b>finder
%div{:id=>"form_wrapper"}
  %div{:class=>"form_explanation"}
    = link_to image_tag("/images/icons/new_S_f2.png",:alt=>"New Reference",:class=>"notice_icon",:height=>"41",:width=>"46"), new_reference_path
    = link_to 'Click here to add a new reference record to the database', new_reference_path
%div{:id=>"index_list_wrapper"}
  %table{ :cellpadding => "0", :cellspacing => "0", :border => "0", :class => "node_list"}
    %tr
      %th
        Reference Type
      %th
        Value
      %th{:colspan=>"3"}
    - @references.each do |reference|
      %tr{:class => cycle('list_odd', 'list_even')}
        %td
          = reference.type
        %td
          = reference.ref_value
        %td
          = link_to image_tag("/images/icons/show_XS_f2.png",:alt=>"Show",:class=>"notice_icon",:height=>"25",:width=>"29"), :action => "show", :id => reference
        %td
          = link_to image_tag("/images/icons/edit_XS_f2.png",:alt=>"Edit",:class=>"notice_icon",:height=>"25",:width=>"31"), edit_reference_path(reference)
        %td
          = link_to image_tag("/images/icons/delete_XS_f2.png",:alt=>"Delete",:class=>"notice_icon",:height=>"25",:width=>"27"), reference, :confirm => 'Are you sure?', :method => :delete
%br