<% Neo4j::Transaction.run do %>
<h1><%= @reference.ref_value %></h1>
<ul id="node_menu">
  <li><%= link_to '<b>reference</b>finder', references_path %></li>
  <li><%= link_to 'edit', edit_reference_path(@reference) %></li>
  <li><%= link_to 'delete', @reference, :confirm => 'Are you sure?', :method => :delete %></li>
</ul>
<table cellpadding="0" cellspacing="0" border="0" id="node_info" width="100%">
  <tr>
    <th width="115px">Reference Type</th>
    <th width="300px">Value</th>
    <th width="*">Notes</th>
  </tr>
  <tr>
    <td class="node_info_value"><%= @reference.reference_type %></td>
    <td class="node_info_value" width="200px"><%= @reference.ref_value %></td>
    <td class="node_info_value" rowspan="3"><%= @reference.notes %></td>
  </tr>
</table>

<% end %>