<% form_for(@location) do |f| %>

  <p>
    <%= f.label :apt_office_floor_number %><br />
    <%= f.text_field :apt_office_floor_number %>
  </p>
  <p>
    <%= f.label :street_number %><br />
    <%= f.text_field :street_number %>
  </p>
  <p>
    <%= f.label :street_name %><br />
    <%= f.text_field :street_name %>
  </p>
  <p>
    <%= f.label :street_type %><br />
    <%= f.select :street_type, Location::LOCATION_TYPES, :prompt => "Select a location type" %>
  </p>
  <p>
    <%= f.label :suburb %><br />
    <%= f.text_field :suburb %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.select :country, Location::COUNTRIES, :prompt => "Select a country" %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :size => "25x5" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>